.footer{
    margin-top: 36px ;
    width: 80vw;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer ul li{
    color: #667085;
    font-size: 16px;
    font-family: 'inter';
}

.zuri{
    position: relative;
}

.dot{
    position: absolute;
    left: 5.7rem;
    top: 55.5rem;
}

@media screen and (max-width: 768px){
        .footer ul{
            flex-direction: column;
        }

        .footer ul li{
            margin-top: 1rem;
        }
        .dot{
        
            top: 56.5rem;
        }
    }